{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div>
    <h1>Real article s title : {{ article.title }}</h1>
    <h2>Category : {{ article.categorie.name }}</h2>
    <p>{{ article.content }}</p>
</div>






  <strong>Tags :</strong>
  <ul>
    {% for tag in article.tags %}
      <li>{{ tag.name }} </li>
    {% else %}
      <li>No tags for this article</li>
    {% endfor %}
  </ul>





  <a href="{{ path('articles_show', {'name': article.categorie.name }) }}">{{article.categorie.name}}</a>


<a href="{{ path('app_index') }}">
    Back to homepage.
</a>

{% endblock %}
